body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    font-family: Arial;
}

.navbar {
    background-color: #111827;
}

.card {
    background-color: #1f2937;
    border-radius: 15px;
    color: white;
}

.btn-purple {
    background-color: #7c3aed;
    color: white;
}

.btn-purple:hover {
    background-color: #6d28d9;
}
