body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    font-family: Arial;
}

.navbar {
    background-color: #111827;
}

.card {
    background-color: #1f2937;
    border-radius: 15px;
    color: white;
}

.btn-purple {
    background-color: #7c3aed;
    color: white;
}

.btn-purple:hover {
    background-color: #6d28d9;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.bottom-nav a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    text-align: center;
}

.bottom-nav a:hover {
    color: #ff4d6d;
}


.profile-container {
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ff4d6d;
}

.profile-details h2 {
    margin-top: 15px;
    font-size: 22px;
}

.bio {
    margin: 10px 0;
    color: #555;
}

.looking {
    font-weight: bold;
    color: #ff4d6d;
}

.edit-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff4d6d;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}
